In [ ]:
import os
print(os.getcwd())

In [1]:
%run ../GenericSparkStartup.ipynb
sc.setJobGroup("DA_States", "DA_States")

In [2]:
%%time
pipeline = "[{ $group : { _id : '$State', count:{$sum:1}}}, {$sort:{_id:1}}]"
df = spark.read.format("mongo").option("collection", "TrafficData").option("pipeline", pipeline).load()
df = df.groupby("_id").sum()
df = df.withColumnRenamed("_id","State").withColumnRenamed("sum(count)","AccidentCount")
df = df.orderBy("State")
print("Number of Documents: " + str(df.count()))
df.agg({'AccidentCount': 'sum'}).show()
df.show(49)

Number of Documents: 49
+------------------+
|sum(AccidentCount)|
+------------------+
|           2845342|
+------------------+

+-----+-------------+
|State|AccidentCount|
+-----+-------------+
|   AL|        19322|
|   AR|        10935|
|   AZ|        56504|
|   CA|       795868|
|   CO|        25340|
|   CT|        29762|
|   DC|         9133|
|   DE|         4842|
|   FL|       401388|
|   GA|        40086|
|   IA|         9607|
|   ID|         8544|
|   IL|        47105|
|   IN|        20850|
|   KS|         9033|
|   KY|         6638|
|   LA|        47232|
|   MA|         6392|
|   MD|        65085|
|   ME|         2193|
|   MI|        43843|
|   MN|        97185|
|   MO|        29633|
|   MS|         5320|
|   MT|        15964|
|   NC|        91362|
|   ND|         2258|
|   NE|         3320|
|   NH|         3866|
|   NJ|        52902|
|   NM|         2370|
|   NV|         6197|
|   NY|       108049|
|   OH|        24409|
|   OK|         8806|
|   OR|       126341|
|   PA|        99975|
|   RI|         4451|
|   SC|        89216|
|   SD|          201|
|   TN|        52613|
|   TX|       149037|
|   UT|        49193|
|   VA|       113535|
|   VT|          365|
|   WA|        32554|
|   WI|         7896|
|   WV|         7632|
|   WY|          990|
+-----+-------------+

Wall time: 6.52 s

In [ ]:
df.write.format("mongo").option("collection", "AccidentCountByState").mode("overwrite").save()